body {
   margin: 0px;
   padding: 0px;
}

#meny {
    color: white;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "courier new";
}

.menyval {
    font-size: 16px;
}

.menyval:hover {
    color: lightblue;
}

#content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

#underkategorierna {
    background-color: black;
    color: white;
    padding-top: 20px;
    height: 400px;
    width: 300px;
}

.underkategorival {
    margin: 15px;
    font-family: "courier new"
}

#produkterna {
    width: 800px;
    display: flex;
    flex-flow: row wrap;
}

.produktbild {
    width: 300px;
    margin-bottom: 10px;
   
}

.produktval {
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-family: "courier new";
    text-align: center;
}

#produktSida {
    width: 800px;
    display: flex;
    justify-content: center;
}

.helaProduktSidan {
    width: 800px;
    display: flex;
    text-align: center;
    flex-direction: column;

}

.produktSidaBild {
width: 400px;
margin: auto;
}

button {
    width: 200px;
    height: 40px;
    margin: auto;
    background-color: #5A385A;
    color: white;
    font-size: 14px;
    border:none;
    border-radius: 2px;
}

#testVarukorg {
    background-color: purple;
    height: 500px;
    width: 600px;
}